/* ORDER */

#woocommerce-order-items table.woocommerce_order_items .wc-order-item-thumbnail{
    width: 160px !important;
    height: unset !important;
    aspect-ratio: 0.8;
}

#woocommerce-order-items table.woocommerce_order_items .wc-order-item-thumbnail{
    background-color: transparent;
    border: none;
}

#woocommerce-order-items table.woocommerce_order_items .wc-order-item-thumbnail img{
    object-fit: contain;
    border: 1px solid #696969;
}

#woocommerce-order-items table.display_meta th{
    white-space: nowrap !important;
    padding-bottom: 0;
}

#woocommerce-order-items table.display_meta tr{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#woocommerce-order-items table.display_meta tr:has(.allergens_list){
    display: none;
}

#order-recipients-column{
    width: 100% !important;
}

#order-recipients-column ul.recipients-list {
    list-style:decimal;
}

#order-recipients-column ul.recipients-list li{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

#order-recipients-column ul.recipients-list li p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#order-recipients-column ul.recipients-list li span{
    white-space: nowrap;
}

#order-recipients-column ul.recipients-list li span.label{
    font-weight: 800;
}